body {
  background: url("https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=11288960&filePath=L2Rpc2sxL25ld2RhdGEvMjAxNS8wMi9DTFM2OS9OVVJJXzAwMV8wNDQ2X251cmltZWRpYV8yMDE1MTIwMw==&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10006");
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  padding: 60px;
  box-sizing: border-box;

  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  box-shadow: inset 0 4px 20px rgba(255, 255, 255, 0.3);
  border: rgba(0, 0, 0, 0.8);
  border-radius: 20px;

  width: 50vh;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-box {
}
